@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Upload Input Folder";
}
<form asp-controller="Files" asp-action="Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="files" webkitdirectory multiple />
    <button type="submit">Upload Folder</button>
</form>
